<div class="main-container">
  <mat-card>
    <mat-form-field class="search-form-field" appearance="outline">
      <mat-label>Search music</mat-label>
      <input matInput type="text" (input)="query$.next($any($event.target).value)" [(ngModel)]="queryText"/>
      <button *ngIf="queryText" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of items">{{ item }}</mat-list-item>
    </mat-list>
  </mat-card>
</div>
